.timer {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.field {
  position: relative;
}

.value {
  font-size: 48px;
}

.label {
  position: absolute;
  top: 58px;
  transform: translateX(-50%);
  left: 50%;
}

input {
  width: 226px;
  font-size: 16px;
}

button {
  font-size: 16px;
  cursor: pointer;
}
